@media (max-width: 768px) {
    .video {
        width: 70%;
        height: 70%;
    }

    .header-olam {
        height: 50vh;
    }

    .img-about {
        width: 80%;
    }

    .bio-p {
        width: 80%;
    }

    .bio-img {
        width: 60%;
    }

    .bio-absolute {
        font-size: 10px;
        width: 50%;
        top: 15%;
        left: 5%;
    }
}